$login-biger-circle-color: #eff3fe;
$login-smaller-circle-color: #e4ebfe;
$Soft-blue: #727cf5;
$cyan: #39afd1;
$login-input-color: #dee2e6;
$text-color: #8391a2;
$top-navbar-bg: #ffffff;
$white: #ffffff;
$side-bar-bg: #313a46;
$small-font: 18px;
$medium-font: 25px;
$large-font: 40px;
