.calculate {
  background-color: #39afd1;
  border: none;
  width: 100%;
}

.calculate:hover {
  background-color: #39afd1;
}

.vat-return-table {
  color: #8391a2;
}

.vat-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .vat-button {
    background-color: #39afd1;
    border: none;
    width: 200px;
  }
  .vat-button :hover {
    background-color: #39afd1;
  }
}

.table-header {
  background-color: #eef2f7;
}
