@import "../variables";

.left-sidebar {
  background-color: $side-bar-bg;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.menu {
  padding-bottom: 100px;
  .menu-item {
    background-color: $side-bar-bg;
    border: none;
    color: #a9a9a9;
    font-size: $small-font;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
  }

  .menu-item:hover {
    color: #e6e9ec;
  }

  .menu-active {
    color: #e6e9ec;
    background-color: $side-bar-bg;
    border: none;
    font-size: $small-font;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
  }

  .menu-setting {
    .menu-item-inner {
      background-color: $side-bar-bg;
      border: none;
      color: #a9a9a9;
      font-size: $small-font;
      padding: 10px 10px 10px 50px;
      cursor: pointer;
    }

    .menu-item-inner:hover {
      color: #e6e9ec;
    }

    .menu-item-inner-active {
      background-color: $side-bar-bg;
      border: none;
      color: #e6e9ec;
      font-size: $small-font;
      padding: 10px 10px 10px 50px;
      cursor: pointer;
    }
  }

  .display-flex {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 992px) {
}
